/* space-grotesk-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/space-grotesk-v16-latin-500.woff2') format('woff2');
}

:root {
  --error: 0 100% 66%;
  --active-border: hsl(249 99% 64%), hsl(278 94% 30%);
  --light-grayish-violet: 270 3% 87%;
  --dark-grayish-violet: 279 6% 55%;
  --very-dark-violet: 278 68% 11%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

img {
  display: block;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

.preview {
  --n: 375;
  --d: 240;
}

.content {
  padding: calc(24 / 16 * 1rem);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Utilities */
.flex {
  display: flex;
}

.gap {
  row-gap: var(--h-gutter, var(--gutter));
  column-gap: var(--v-gutter, var(--gutter));
}

.frame {
  aspect-ratio: var(--n) / var(--d);
}

.frame > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: var(--wrapper-max-width, 30rem);
  margin-inline: auto;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
